In [2]:
import pandas as pd
import numpy as np
import re

import acquire
import prep

In [3]:
guest = acquire.get_guest()

In [4]:
guest.head()

,trans_id,timestamp,name,item,item_group,status,quantity,subtotal,discount,tax,total,paid,refund,balance,acn,sys_id
0,201066,03/29/2019 08:42pm,Lara Cornell,24 Hours of Tennis Ping Pong,24 Hour Charity Event,Paid,2.0,$20.00,$0.00,$0.00,$20.00,$20.00,$0.00,$0.00,NaN,4283
1,152150,04/17/2018 06:26pm,Melanie Bishop,Kick Off Clinic,24 Hour Charity Event,Paid,1.0,$25.00,$0.00,$0.00,$25.00,$25.00,$0.00,$0.00,NaN,1656
2,198364,03/11/2019 10:48am,Frost Bank,Frost Bank- 24 Hours of Tennis Community Sponsor,24 Hour- Sponsorship,Paid,1.0,$500.00,$0.00,$0.00,$500.00,$500.00,$0.00,$0.00,NaN,1864
3,204816,04/22/2019 11:06am,Lisa Munekawa,JNCC HAT,Accessories,Paid,1.0,$17.00,$0.00,$1.40,$18.40,$18.40,$0.00,$0.00,NaN,4629
4,16014,03/11/2015 06:29pm,Jennifer Growcock,Pro Overgrip,Accessories,Paid,1.0,$8.00,$0.00,$0.66,$8.66,$8.66,$0.00,$0.00,NaN,1317

Fix data types:  
Float:
 - subtotal
 - tax
 - discount
 - total
 - paid
 - refund
 - balance
  
Datetime:
 - timestamp

In [5]:
guest = prep.convert_to_float(guest)
guest = prep.convert_to_datetime(guest)

In [6]:
guest.head()

,trans_id,timestamp,name,item,item_group,status,quantity,subtotal,discount,tax,total,paid,refund,balance,acn,sys_id
0,201066,2019-03-29 20:42:00,Lara Cornell,24 Hours of Tennis Ping Pong,24 Hour Charity Event,Paid,2.0,20.0,0.0,0.00,20.00,20.00,0.0,0.0,NaN,4283
1,152150,2018-04-17 18:26:00,Melanie Bishop,Kick Off Clinic,24 Hour Charity Event,Paid,1.0,25.0,0.0,0.00,25.00,25.00,0.0,0.0,NaN,1656
2,198364,2019-03-11 10:48:00,Frost Bank,Frost Bank- 24 Hours of Tennis Community Sponsor,24 Hour- Sponsorship,Paid,1.0,500.0,0.0,0.00,500.00,500.00,0.0,0.0,NaN,1864
3,204816,2019-04-22 11:06:00,Lisa Munekawa,JNCC HAT,Accessories,Paid,1.0,17.0,0.0,1.40,18.40,18.40,0.0,0.0,NaN,4629
4,16014,2015-03-11 18:29:00,Jennifer Growcock,Pro Overgrip,Accessories,Paid,1.0,8.0,0.0,0.66,8.66,8.66,0.0,0.0,NaN,1317

In [7]:
guest.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6386 entries, 0 to 6385
Data columns (total 16 columns):
trans_id      6386 non-null int64
timestamp     6386 non-null datetime64[ns]
name          6386 non-null object
item          6386 non-null object
item_group    6386 non-null object
status        6385 non-null object
quantity      6386 non-null float64
subtotal      6386 non-null float64
discount      6386 non-null float64
tax           6386 non-null float64
total         6386 non-null float64
paid          6386 non-null float64
refund        6386 non-null float64
balance       6386 non-null float64
acn           1288 non-null float64
sys_id        6386 non-null int64
dtypes: datetime64[ns](1), float64(9), int64(2), object(4)
memory usage: 798.3+ KB

In [8]:
guest.to_csv("cl_guest.csv")

Successfully exported a cl_guest.csv in local repo.

---

In [9]:
year1 = pd.read_csv("member_2015.csv",skiprows=4)
year1.columns =

In [10]:
year1.head()

,Generated on:,01/05/20 @ 4:01pm,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15
0,Date:,01/01/2015 - 12/31/2015,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Groups:,"General Family Membership, General Property Ow...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Transaction #,Date & Time,User Name,Description,Accounting Group,Status,Quantity,Subtotal,Discount,Tax,Total,Paid,Reversed/Refunded,Balance,System ID,User Group Name
4,7315,01/03/2015 11:00am,Pia Lomax,Lessons with Joe Snailum (01/03/2015),Lessons,Paid,1,$65.00,$0.00,$0.00,$65.00,$65.00,$0.00,$0.00,79,General Single Membership

In [13]:
files = ["member_2015","member_2016","member_2017","member_2018","member_2019"]

In [38]:
from glob import glob
filenames = glob("member_*.csv")
column_labels = ["trans_id","timestamp","name","item","item_group","status","quantity","subtotal","discount","tax","total","paid","refund","balance","acn","sys_id"]
dataframes = [pd.read_csv(f,skiprows=5,names=column_labels) for f in filenames]

In [47]:
member = pd.concat([dataframes[0],dataframes[1],dataframes[2],dataframes[3],dataframes[4]])

In [54]:
member = prep.convert_to_float(member)

AttributeError: Can only use .str accessor with string values, which use np.object_ dtype in pandas

In [55]:
member = prep.convert_to_datetime(member)

In [56]:
member.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 137332 entries, 0 to 37722
Data columns (total 16 columns):
trans_id      137332 non-null int64
timestamp     137332 non-null datetime64[ns]
name          137332 non-null object
item          137332 non-null object
item_group    137332 non-null object
status        137332 non-null object
quantity      137332 non-null float64
subtotal      137332 non-null float64
discount      137332 non-null float64
tax           137332 non-null float64
total         137332 non-null float64
paid          137332 non-null float64
refund        137332 non-null float64
balance       137332 non-null float64
acn           137332 non-null int64
sys_id        137332 non-null object
dtypes: datetime64[ns](1), float64(8), int64(2), object(5)
memory usage: 17.8+ MB

In [57]:
member.to_csv("cl_member.csv")