In [71]:
import pandas as pd
import numpy as np
import re

In [112]:
guest = pd.read_csv("guest_logs.csv",skiprows=4)
guest.columns = ["trans_id","timestamp","name","item","item_group","status","quantity","subtotal","discount","tax","total","paid","refund","balance","acn","sys_id"]

In [73]:
guest.head()

,Transaction #,Date & Time,User Name,Description,Accounting Group,Status,Quantity,Subtotal,Discount,Tax,Total,Paid,Reversed/Refunded,Balance,Access Card Number,System ID
0,201066,03/29/2019 08:42pm,Lara Cornell,24 Hours of Tennis Ping Pong,24 Hour Charity Event,Paid,2.0,$20.00,$0.00,$0.00,$20.00,$20.00,$0.00,$0.00,NaN,4283
1,152150,04/17/2018 06:26pm,Melanie Bishop,Kick Off Clinic,24 Hour Charity Event,Paid,1.0,$25.00,$0.00,$0.00,$25.00,$25.00,$0.00,$0.00,NaN,1656
2,198364,03/11/2019 10:48am,Frost Bank,Frost Bank- 24 Hours of Tennis Community Sponsor,24 Hour- Sponsorship,Paid,1.0,$500.00,$0.00,$0.00,$500.00,$500.00,$0.00,$0.00,NaN,1864
3,204816,04/22/2019 11:06am,Lisa Munekawa,JNCC HAT,Accessories,Paid,1.0,$17.00,$0.00,$1.40,$18.40,$18.40,$0.00,$0.00,NaN,4629
4,16014,03/11/2015 06:29pm,Jennifer Growcock,Pro Overgrip,Accessories,Paid,1.0,$8.00,$0.00,$0.66,$8.66,$8.66,$0.00,$0.00,NaN,1317

Rename columns

In [74]:
guest.columns = ["trans_id","timestamp","name","item","item_group","status","quantity","subtotal","discount","tax","total","paid","refund","balance","acn","sys_id"]

Fix data types:  
Float:
 - subtotal
 - total
 - paid
 - refund
 - balance
  
Datetime:
 - timestamp

In [97]:
text = "$2,000.45"

'$2,000.45'

In [104]:
list_text = re.findall(r"(\d*)?,(\d+\.\d+)",text)

In [153]:
guest = pd.read_csv("guest_logs.csv",skiprows=4)
guest.columns = ["trans_id","timestamp","name","item","item_group","status","quantity","subtotal","discount","tax","total","paid","refund","balance","acn","sys_id"]

In [155]:
guest.subtotal = guest.subtotal.str.replace(r"$","").str.replace(r",","").astype("float")

In [152]:
guest.subtotal.head()

0     20.00
1     25.00
2    500.00
3     17.00
4      8.00
Name: subtotal, dtype: object

In [20]:
guest.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6386 entries, 0 to 6385
Data columns (total 16 columns):
trans_id      6386 non-null int64
timestamp     6386 non-null object
name          6386 non-null object
item          6386 non-null object
item_group    6386 non-null object
status        6385 non-null object
quantity      6386 non-null float64
subtotal      6386 non-null object
discount      6386 non-null object
tax           6386 non-null object
total         6386 non-null object
paid          6386 non-null object
refund        6386 non-null object
balance       6386 non-null object
acn           1288 non-null float64
sys_id        6386 non-null int64
dtypes: float64(2), int64(2), object(12)
memory usage: 798.3+ KB