In [71]:
import pandas as pd
import numpy as np
import re

In [222]:
guest = pd.read_csv("guest_logs.csv",skiprows=4)
guest.columns = ["trans_id","timestamp","name","item","item_group","status","quantity","subtotal","discount","tax","total","paid","refund","balance","acn","sys_id"]

In [223]:
guest.head()

,trans_id,timestamp,name,item,item_group,status,quantity,subtotal,discount,tax,total,paid,refund,balance,acn,sys_id
0,201066,03/29/2019 08:42pm,Lara Cornell,24 Hours of Tennis Ping Pong,24 Hour Charity Event,Paid,2.0,$20.00,$0.00,$0.00,$20.00,$20.00,$0.00,$0.00,NaN,4283
1,152150,04/17/2018 06:26pm,Melanie Bishop,Kick Off Clinic,24 Hour Charity Event,Paid,1.0,$25.00,$0.00,$0.00,$25.00,$25.00,$0.00,$0.00,NaN,1656
2,198364,03/11/2019 10:48am,Frost Bank,Frost Bank- 24 Hours of Tennis Community Sponsor,24 Hour- Sponsorship,Paid,1.0,$500.00,$0.00,$0.00,$500.00,$500.00,$0.00,$0.00,NaN,1864
3,204816,04/22/2019 11:06am,Lisa Munekawa,JNCC HAT,Accessories,Paid,1.0,$17.00,$0.00,$1.40,$18.40,$18.40,$0.00,$0.00,NaN,4629
4,16014,03/11/2015 06:29pm,Jennifer Growcock,Pro Overgrip,Accessories,Paid,1.0,$8.00,$0.00,$0.66,$8.66,$8.66,$0.00,$0.00,NaN,1317

Rename columns

In [224]:
guest.columns = ["trans_id","timestamp","name","item","item_group","status","quantity","subtotal","discount","tax","total","paid","refund","balance","acn","sys_id"]

Fix data types:  
Float:
 - subtotal
 - tax
 - discount
 - total
 - paid
 - refund
 - balance
  
Datetime:
 - timestamp

In [225]:
def normalize_dollars(series):
    series = series.str.replace(r"$","").str.replace(r",","").astype("float")
    return series

In [226]:
def convert_to_float(df):
    dollar_values = ["subtotal","discount","tax","total","paid","refund","balance"]
    for column in dollar_values:
        df[column] = normalize_dollars(df[column])
    return df

In [227]:
test = convert_to_float(guest)

In [229]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6386 entries, 0 to 6385
Data columns (total 16 columns):
trans_id      6386 non-null int64
timestamp     6386 non-null object
name          6386 non-null object
item          6386 non-null object
item_group    6386 non-null object
status        6385 non-null object
quantity      6386 non-null float64
subtotal      6386 non-null float64
discount      6386 non-null float64
tax           6386 non-null float64
total         6386 non-null float64
paid          6386 non-null float64
refund        6386 non-null float64
balance       6386 non-null float64
acn           1288 non-null float64
sys_id        6386 non-null int64
dtypes: float64(9), int64(2), object(5)
memory usage: 798.3+ KB

In [215]:
dollar_values = ["subtotal","discount","tax","total","paid","refund","balance"]

In [216]:
normalize_dollars()

TypeError: normalize_dollars() missing 1 required positional argument: 'series'

In [217]:
dollar_values = ["subtotal","discount","tax","total","paid","refund","balance"]
for column in dollar_values:
    guest[column] = normalize_dollars(guest[column])

In [218]:
guest.head()

,trans_id,timestamp,name,item,item_group,status,quantity,subtotal,discount,tax,total,paid,refund,balance,acn,sys_id
0,201066,03/29/2019 08:42pm,Lara Cornell,24 Hours of Tennis Ping Pong,24 Hour Charity Event,Paid,2.0,20.0,0.0,0.00,20.00,20.00,0.0,0.0,NaN,4283
1,152150,04/17/2018 06:26pm,Melanie Bishop,Kick Off Clinic,24 Hour Charity Event,Paid,1.0,25.0,0.0,0.00,25.00,25.00,0.0,0.0,NaN,1656
2,198364,03/11/2019 10:48am,Frost Bank,Frost Bank- 24 Hours of Tennis Community Sponsor,24 Hour- Sponsorship,Paid,1.0,500.0,0.0,0.00,500.00,500.00,0.0,0.0,NaN,1864
3,204816,04/22/2019 11:06am,Lisa Munekawa,JNCC HAT,Accessories,Paid,1.0,17.0,0.0,1.40,18.40,18.40,0.0,0.0,NaN,4629
4,16014,03/11/2015 06:29pm,Jennifer Growcock,Pro Overgrip,Accessories,Paid,1.0,8.0,0.0,0.66,8.66,8.66,0.0,0.0,NaN,1317

In [201]:
for series in guest:
    if series in dollar_values:
        guest.series = normalize_dollars(series)

AttributeError: 'str' object has no attribute 'str'

In [170]:
guest.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6386 entries, 0 to 6385
Data columns (total 16 columns):
trans_id      6386 non-null int64
timestamp     6386 non-null object
name          6386 non-null object
item          6386 non-null object
item_group    6386 non-null object
status        6385 non-null object
quantity      6386 non-null float64
subtotal      6386 non-null object
discount      6386 non-null object
tax           6386 non-null object
total         6386 non-null object
paid          6386 non-null object
refund        6386 non-null object
balance       6386 non-null object
acn           1288 non-null float64
sys_id        6386 non-null int64
dtypes: float64(2), int64(2), object(12)
memory usage: 798.3+ KB